/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: rgba(255, 0, 112, 1);
  --bg-image: url(../images/cover-image-dark.png);
   --color-pink: rgba(255, 0, 112, 1);
   --color-bg: rgba(0, 0, 40, 1);
   --text: rgba(241, 178, 206, 1);
   --text-header: rgba(0, 0, 40, 1);
   --color-section_heading: rgba(255, 0, 112, 1);
   --title : rgba(219, 0, 255, 1);
   --color-corners: rgba(255, 0, 112, 1);
   --button: rgba(255, 0, 112, 1);
   --link:  rgba(255, 0, 112, 1);
   --hover-button: rgba(255, 0, 112, 0.4);
}