/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
      
  */

    --bg-image: url(../images/cover-image-light.png);
    --button: rgba(53, 52, 48, 1);
     --accent-color: rgba(255, 141, 203, 1);
     --title-light: rgba(255, 194, 230, 1);
     --color: rgba(255, 141, 203, 1);
     --text: rgba(53, 52, 48, 1);
     --text-header: rgba(53, 52, 48, 1);
     --color-bg: rgba(255, 241, 247, 1);
     --color-section_heading: rgba(53, 52, 48, 1);
     --title: rgba(255, 194, 230, 1);
     --color-corners: rgba(53, 52, 48, 1);
     --button: rgba(53, 52, 48, 1);
     --link: rgba(255, 141, 203, 1);
     --hover-button: rgba(50, 49, 45, 0.4);
    --color-subsubtitle: rgba(53, 52, 48, 1);
    }

    @media (prefers-color-scheme: light) {
  :root {
     --bg-image: url(../images/cover-image-light.png);
    --button: rgba(53, 52, 48, 1);
     --accent-color: rgba(255, 141, 203, 1);
     --title-light: rgba(255, 194, 230, 1);
     --color: rgba(255, 141, 203, 1);
     --text: rgba(53, 52, 48, 1);
     --text-header: rgba(53, 52, 48, 1);
     --color-bg: rgba(255, 241, 247, 1);
     --color-section_heading: rgba(53, 52, 48, 1);
     --title: rgba(255, 194, 230, 1);
     --color-corners: rgba(53, 52, 48, 1);
     --button: rgba(53, 52, 48, 1);
     --link: rgba(255, 141, 203, 1);
     --color-subsubtitle: rgba(53, 52, 48, 1);
    }
    .decorated_text {
      display: none;
      }
  }
  
  .theme-light .decorated_text {
  display: none; 
}




