/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  margin: 0;
  padding: 0;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--color-bg);
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: var(--project-font-family);
  background-image: var(--bg-image);
}

header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px;
  position: relative;
  max-height: 100vh;
  min-height: 668px;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
}

.decorated_text {
  position: absolute;
  font-weight: 400;
  font-size: var(--regular-font-size);
  line-height: 25px;
  text-align: center;
  color: var(--color-pink);
  right: 19px;    
  top: 9px;
  align-items: center;
}

.decorated_text::after {
  content: '';
  display: inline-block;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  background-color:var(--color-pink);
  box-shadow: 0 0 4px 2px var(--color-pink); 
  margin-left: 10px;
}

.decorated-zone {
  position: relative;
  overflow: hidden;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--color-corners);
}

.decorated-zone::after {
  top: 10px;
  right: 10px;
  border-bottom: none;
  border-left: none;
}

.decorated-zone::before {
  bottom: 10px;
  left: 10px;
  border-top: none;
  border-right: none;
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid; 
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent; 
  cursor: pointer;
  color: var(--button);
  text-shadow: none;
  border: none;
  text-transform: lowercase;
  font-size: 18px;
  padding: 1.5px 13px;
  text-align: center; 
  letter-spacing: 0;
}

.header__theme-menu-button_active {
  pointer-events: none; 
  border: 1px solid var(--button); 
  box-sizing: border-box;
}

.header__theme-menu-button:hover {
  text-decoration: none;
  outline: 1px solid var(--hover-button);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--button);
  outline: none;
}

.theme-light .decorated_text {
  display: none;
}

.theme-dark .decorated_text {
  display: block;
}

h1 {
  margin: 0;
}

.title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
  color:  var(--title);
  font-size: 116px;
  font-weight: bold;
}

.text_header {
  background-color: var(--color-pink);
  font-weight: 700;
  line-height: 23.4px;
  color: var(--text-header); 
  font-size: clamp(14px, 2vw, 18px);
  font-size: 18px;
}

p {
  margin: 0;
  
}

main {
  margin: 40px 10px;
  padding: 0;
  display: grid;
  align-items: center;
}

.content-section_dopaminultitasking, 
.content-section_concentration,
.content-section_advice,
.content-section_img {
  display: grid;
  margin: 0 0 50px;
  padding: 0;
}

.section_heading,
.subsection_heading,
.section_text {
  font-size: 18px;
  line-height: 23.4px;
}

.section_heading {
 color: var(--color-section_heading);
 margin: 0;
 padding: 0;
}

.subsection_heading {
  font-weight: bold;
  color: var(--text-header);
  padding: 0;
  background-color: var(--color-pink);
  margin: 20px 0 10px;
}

.section_text {
  color: var(--text);
  margin: 0;
  padding: 0;
}

.subsection_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 20px;
}

.subsubtitle {
  background-color: var(--color-pink);
  font-weight: normal;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--color-bg);
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}
.sub_heading_dop {
  margin-bottom: 20px;
}

.gallery {
  display: grid;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.gallery__list {
  display: grid;
  gap: 10px;
}

.gallery__title {
  margin: 0;
  padding: 0;
}

.link {
  color: var(--text);
  text-shadow: 1.5px 1.5px 0 var(--link);
  text-decoration: none;
  outline: none;
}

.link:hover {
  text-decoration: underline;
  text-decoration-color: var(--text);
}

.link:focus {
  outline: 1px solid var(--text);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
}

footer {
  display: grid;
  max-height: 100vh;
  min-height: 668px;
  box-sizing: border-box;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-family: var(--project-font-family);
  text-shadow: 1px 1px 0 var(--accent-color);
}

.footer_title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (min-width: 768px) {

  header {
  grid-template-rows: 1fr min-content 1fr;
  min-width: 768px;
  min-height: 1024px;
  max-height: 100vh;
  padding: 0;
  align-items: center;
  }

  .decorated_text {
    top: 2vh;
    right: 3.7vw;
  }

  .decorated-zone::after {
    top: 20px;
    right: 2.5vw;
  }

  .decorated-zone::before {
    bottom: 2vh;
    left: 2.5vw;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 1;
    text-align: start;
    }

  .text_header {
    max-width: 48%;
    justify-self: end;
    margin-right: 2.5vw;
    margin-top:  -3vh;
    }

  .header__theme-menu {
    justify-self: end; 
    margin-right: 2.5vw;
    margin-top:  3vh;
    }

  .header__theme-menu-list {
    justify-content: center;
    }

  main {
    margin-bottom: 60px;
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    gap: 80px;
  }

  .content-section_dopaminultitasking {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto auto;
    display: grid;
    margin: 0;
    column-gap: 20px;
    max-width: none;
    box-sizing: border-box;
  }
  
  .section_heading {
  grid-column: 1 / 2;
  grid-row: 1/3;
  }

  .subsection_heading {
    grid-column: 2 / 3;
   margin: 0;
  }

  .subsection_list {
    grid-column: 2 / 3;
  }

  .section_text {
    margin-top: 10px;
  }

  .text_section {
    margin-bottom: 20px;
  }

  .content-section_concentration {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 20px;
  }

  .concentration_heading {
    width: 25%;
  }

  .content-section_advice {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto auto;
    display: grid;
    margin: 0;
    column-gap: 20px;
    max-width: none; 
    box-sizing: border-box;
  }

  .sub_heading_dop {
    margin-bottom: 20px;
  }

.gallery__title {
  grid-row: 1;
  grid-column: 1 / -1;
  margin-bottom: 10px;
  }

.gallery__list {
  grid-row: 2;
  grid-column: 1 / -1;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 192px 230px 318px;
  grid-template-areas:
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
}

.gallery__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.gallery__image:nth-child(1) {
  grid-area: sunset;
}
.gallery__image:nth-child(2) {
  grid-area: ice-cream;
}
.gallery__image:nth-child(3) {
  grid-area: tape;
}
.gallery__image:nth-child(4) {
  grid-area: books;
}
.gallery__image:nth-child(5) {
  grid-area: street;
}

footer {
  min-width: 768px;
  min-height: 1024px;
  max-height: 100vh;
  height: 100%;

}
}

@media (min-width: 1024px)  { 
  
  header {
  grid-template-rows: 1fr min-content 1fr; 
  min-width: 1024px;
  min-height: 768px;
  max-height: 100vh;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  align-items: center;
 
  } 

  .decorated_text {
    top: 2.5vh;
    right: 2.8vw;
  }

  .decorated-zone::after {
    top: 20px;
    right: 2vw;
  }

  .decorated-zone::before {
    bottom: 2vh;
    left: 2vw;
  }

  .header__theme-menu {
    justify-self: center; 
    grid-row: 1;
    margin: 0;
    display: block;
    align-self: start !important;
    margin-top: 20px;
  } 

  .header__theme-menu-list {
    display: flex;
    align-self: center;
    
  }
  .text_header {
    max-width: 48%; 
    width: auto; 
    justify-self: end;
    margin-right: 2vw;
    margin-top:  -4vh;
    } 
    
   .section_dec {
    display: grid;
   }
 
   .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.gallery {
  max-height: 1091px;
}

.gallery__list {
  grid-row: 2;
  grid-column: 1 / -1;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 260px 315px 433px;
  grid-template-areas:
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
   ;
}

.gallery__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.gallery__image:nth-child(1) {
  grid-area: sunset;
}

.gallery__image:nth-child(2) {
  grid-area: ice-cream;
}

.gallery__image:nth-child(3) {
  grid-area: tape;
}

.gallery__image:nth-child(4) {
  grid-area: books;

}

.gallery__image:nth-child(5) {
  grid-area: street;
}

footer {
  min-width: 1024px;
  min-height: 768px;
  max-height: 100vh;
  padding: 0;
 
}
}
